body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container {
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  margin: 40px auto;
}

h2 {
  margin-top: 0;
}

ul {
  padding-left: 20px;
}

li {
  margin: 6px 0;
}

/* Precio > 500 → negrita */
.caro {
  font-weight: bold;
}

/* Botón */
.btn {
  margin-bottom: 12px;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
